<div class="col-md-12 text-center">
  <h1>{{title}}</h1>
    <div class="container">
      <label for="">Enter two numbers</label>
      <br>
      <input (input)="getValue(num1.value)" type="text" #num1/>
      <br>
      <br>
      <input (input)="getValue2(num2.value)" type="text" #num2/>
    </div>
    <br>
    <div class="container">
      <button (click)="add()" class="btn btn-secondary mr-2">+</button>
      <button (click)="sub()" class="btn btn-secondary mr-2">-</button>
      <button (click)="mul()" class="btn btn-secondary mr-2">*</button>
      <button (click)="div()" class="btn btn-secondary mr-2">/</button>
    </div>

    <br>

    <h2>Result is: {{result}}</h2>


</div>